/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
	font-family: poppins;
	
}
*{
	box-sizing:border-box;
	scroll-behavior: smooth;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	width:100%;
	height:100vh;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
}
.logo img{
	height:45px;
	cursor: pointer;
}
nav ul{
	display: flex;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#585b5b;
	letter-spacing: 1px;
}
.hey{
	color:#39bfbd;
	font-weight: 500;
	font-size: 0.9rem;
	border-bottom: 2px solid #40c6c4;
}
nav ul li a:hover{
	background-color: #2adabc;
	color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
	transition: all ease 0.2s;
}
.model img{
	width:100%;
	height: 100%;
	object-fit: contain;
	
}
.model{
	width:500px;
	height: 500px;
	
}
.content{
	width:90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.main-text{
	width:500px;
}
.main-text h1{
	font-size: 3.5rem;
	color:#1c3548;
	margin:0px 0px 10px 0px;
	line-height: 60px;
	
}
.main-text p{
	color:#747474;
	cursor: pointer;
}
.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
	cursor: pointer;
	
}

.portfolio-btn:hover{
	background-color: #23cdaf;
	transition: all ease 0.2s;
}
#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:auto auto 50px auto;
}
.skill-text{
	width:400px;
}
.skill-img{
	width:600px;
	height: 600px;
}
.skill-img img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.skill-heading span{
	color:#36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.skill-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.s-box-container{
	margin-top: 30px;
}
.skill-box{
	display: flex;
	margin: 25px 0px;
}
.s-box-icon{
	margin-right:12px;
}
.s-box-icon i{
	width:40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 1.1rem;
}
.s-box-text strong{
	color:#1c3548;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}
.s-box-text p{
	color:#747474;
	font-size: 0.9rem;
}
.fa-html5{
	color:#e06061;
}
.fa-css3-alt{
	color:#416cdf;
}
.fa-js-square{
	color:#f98231;
}
#recent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:30px 0px;
	flex-direction: column;
}
.recent-heading span,
.client-heading span{
	color:#36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.1rem;
}
.recent-heading h3,
.client-heading h3,
#contact h3{
	color:#1c3548;
	font-size: 3rem;
	margin: 0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.recent-img{
	margin:0px 40px;
}
.recent-img img{
	width:100%;
	height: 100%;
}
.recent-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
 
.recent-btn:hover{
	background-color: #23cdaf;
	transition: all ease 0.2s;
}
.recent-btn{
	width:190px;
	margin-top: -20px;
}
 
#client{
	width:100%;
	border-top: 1px solid rgba(58,58,58,0.03);
	border-bottom: 1px solid rgba(58,58,58,0.03);
	padding: 50px 0px;
	background-image: url("../images/bg.png");
	background-position: center;
	background-size: 1000px;
}
.client-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.c-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin:20px 0px;
}
.client-box {
	width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}
.client-box img{
	width:90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
}
.client-box strong{
	color:#1c3548;
	margin:0px;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top:10px;
}
.star{
display: flex;
	margin: 10px 0px 10px 0px;
}
.star i{
	color:#ff9529;
}
.client-box p{
	color:#747474;
	font-size: 0.9rem;
	margin:0px;
	text-align: center;
	display: block;
	display: -webkit-box;
	max-width: 80%;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.client-box a{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.client-box a{
	width:140px;
	margin-top: 20px;
	border-radius: 0px;
}
.client-box:hover{
	transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    background-color: #23cdaf;
	transition: all ease 0.2s;
}
#contact{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:40px 0px;
}
#contact h3{
	font-size:2.5rem;
	margin:20px;
}
#contact img{
	height:300px;
}
.contact-input{
	width:400px;
	height:50px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}
.contact-input a{
	width:200px;
	height:35px;
	background-color:#1db096;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}
















footer{
	width: 100%;
	
	position:absolute;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color: #fff;
	padding: 100px 0px 20px;
	border-top-left-radius:125px;
	font-size: 20px;
	line-height: 20px;
	top: 3300px;
	
  }
  .row{
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
   align-items: flex-start;
  }
  .cot{
	flex-basis: 25%;
	padding: 0px;

  }


  .logo{
	  margin-top: 18px;
	  width: 30px;
	  font-size:40px;
	  margin-bottom: 20px;
	  font-family: 'Style Script', cursive;

  }
  .logo:hover{
	  color: lightsalmon;
	  text-decoration: none;
	  transition: all,linear .7s;
  }
  
  }
  .col h2{
	  
  font-size: 15px;
  color: #fff;
  font-family: 'Style Script', cursive;
  
  
  }
  .col p{
	font-size: 10px;
	margin:px;
	color: #fff;
	margin-top: 10px;
  }
  
  .col:nth-child(2), .col:nth-child(3){
	  flex-basis: 15%;
  }
  


.e-mail-id{
	width: fit-content;
	border-bottom: 1px solid#ccc;
	margin: px 0;
}
 ul li{
	list-style: none;
	font-size: 16px;
	margin-left: ;
	
	
}
ul li a{
	text-decoration: none;
	color: #fff;
	right: 30px;
	

}

ul li a:hover{
	color: lightskyblue;
	text-decoration: none;
	
}

.contact-input20 h3{
	
	font-size: 13px;
	color: #fff;
}

/* .contact-input20 input{
	border-radius: 20px;
	outline: none;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color: white;
}


.contact-input20 button{

      margin: 8px;
	padding-right: 100px;
	background: linear-gradient(to right, #00093c, #2d0b00);
	margin-left: 60px;
	border-radius: 20px;
	outline: none;
	color: white;
	font-size: 20px;
	text-align: center;
	
}

.contact-input20 button:hover{
	background-color: rgb(134, 129, 47);
	transition: all,linear .7s;
	color: limegreen;
} */
form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
	

}
form .far{
	font-size: 18px;
	margin-right: 10px;
}
form input{
	width: 100%;
	background: transparent;
	color: #ccc;
	border: 0;
	outline: none;
}

 .stp{
	 font-size: 30px;
 }
.utp{
	font-size: 30px;
	margin-left: 29px;
	pa
}
.ntp{
	font-size: 30px;
}

.contact-input20 input{

	border-radius: 20px;
}
.contact-input20 button{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}
.contact-input20 .fas{
	color: #fff;
}
.social-icon .fab{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000;
	background: #ccc;
	margin-right: 15px;
	cursor: pointer;
}
 
hr{
	 width: 90%;
	 border-bottom: 1px solid #ccc;
	 margin:20px auto;
	 /* border: 0; */
}

.copyright{
	text-align: center;
	font-size: 10px;
}
.underline{
	width: 30%;
	height: 5px;
	background: #767676;
	border-radius: 3px;
	position: relative;
	top: 7px;
	left: 0;
	overflow: hidden;
}
.underline span{
	height:100% ;
	width:15px ;
	background:#fff ;
	border-radius: 3px;
	top:0 ;
	left: 75px;
	position: absolute;
	animation: moving 3s linear infinite;
}

@keyframes moving{
	0%{
		left: -20px;
	}
	100%{
		right: 100px;
	}
}
@media (max-width:700px){
	footer{
		bottom: unset;
	}
}




















nav .menu-btn,
.menu-icon{
		display:none;
	}


@media(max-width:1140px){
	.content{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
	.skill-img{
		width:400px;
		height: 400px;
	}
	.client-box{
		flex-grow:0.5;
	}
}
@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
	}
	.logo img{
		height:35px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#FFFFFF;
		border-bottom:4px solid #1db096;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#333333;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#333;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:400px;
	}
	.skill-img{
		width:40%;
		height:300px;
	}
	.skill-img img{
		object-fit: cover;
		object-position: left;
	}
	.recent-heading h3,
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
	.recent-heading{
		text-align:center;
		padding:0px 15px;
	}
	
}
@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
	}
	#contact img{
		height:200px;
	
}


/* 
sdpfiuSOFGUOSFGighksdg */



@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-img{
		display:none;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}


/* <!--PRELOADER-----------------> */

.loader_bg{
	position: fixed;
	z-index: 999999;
	background: #fff;
	width: 100%;
	height: 100%;

}
.loader{
	border: 0 solid transparent;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: absolute;
	top: calc(50vh - 75px);
	left: calc(50vw - 75px);
}
.loader::before, .loader::after{
	content: '';
	border: 1em solid #ff5733;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	animation: loader 2s linear infinite;
	opacity: 0;
}
.loader:before{
	animation-delay: 5s;
}
@keyframes loader{
	0%{
		transform: scale(0);
		opacity: 0;
	}
50%{
	opacity: 1;
	}
100%{
	transform: scale(1);
	opacity: 0;
	

}


}



/* <!--PRELOADER-----------------> */