*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    background: linear-gradient(
        rgba(95, 213, 218, 0.274),
        rgba(99, 186, 189, 0.548)
    ) ,  url("lab2.jpg");
    background-size: cover;
    background-position: center;

}
            /* Navbar */
.navbar{
    height: 10%;
 
    display: flex;
}
.nav-left{
    flex-basis: 30%;
    background-color: white;
    position: relative;
}
.icon ul li{
    display: inline-block;
    margin: 2px;
    
}
.icon ul li i{
    color: gray;
}
.icon ul li i:hover{
    color: cornflowerblue;
}
.nav-right{
    flex-basis: 70%;
    position: relative;
}
.menu{
    position: absolute;
    right: 2%;
}
.menu ul li  {
    display: inline-block;
    margin-top: 20px;
    font-family: sans-serif;
    
}

.menu ul li a {
    
    margin: 10px;
    color: rgb(245, 243, 243);
    text-decoration: none;
    /* font-family: sans-serif; */
    /* transition: all inherit 0.3s; */
    font-weight: bolder;
   
}
.menu ul li a:hover{
    color: rgb(255, 230, 0);
}

.icon{
    left:5%;
    top:10%;
    position: absolute ;
    cursor: pointer;  
}
                /* LOGOOOOOOOOOOOOOOOO */
.logo{
    font-family: 'Engagement', cursive;
    font-size: 50px;
}




                

                /* CONTANT */


.content{
    height: 90%;
   
    display: flex;
}
.content-left{
    flex-basis: 30%;
    background-color: rgb(255, 255, 255);
}
.content-right{
    flex-basis: 70%;
    position: relative;
}
.display{
    position: absolute;
    bottom: 20%;
    left: 15%;
    cursor: pointer;
}
.display img{
    height: 35%;
    width: 35%;
    /* margin-left: 500px; */
}
.tret{
    font-family: 'Style Script', cursive;
    font-size: 20px;
    position: absolute;
    bottom: 15%;
    right: 5%;
    color:rgb(240, 221, 221);
    cursor: pointer;
}
.tret:hover{
    color: rgb(0, 82, 206);

}
.socialmedia{
    height: 25px;
    width: 25px;
    color: gray;
  
}
.socialmedia a i{
    margin: 10px;
    margin-top: 60px;

}
.fa-facebook{
    color: #3f617c;
}
.fa-youtube{
    color: crimson;
}
.fa-twitter{
    color:#43a1ee;
}
.fa-instagram{
    color: rgb(201, 103, 103);
}
