*{
    margin: 0;
    padding: 0;
}
.socialmedia{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    
    background-color:#f5f6fa;
    height: 100px;
    width: 100px;
    border-radius:50px;
  text-align: center;
  line-height: 120px;
  box-shadow: 1px 4px 2px 2px #dcdee1;
  margin: 10px;

}
a i{
    transition: all .3s linear;

}
a:hover i{
    transform: scale(1.4);
}
.fa-facebook{
    color: #3f617c;
}
.fa-youtube{
    color: crimson;
}
.fa-twitter{
    color:#43a1ee;
}
.fa-instagram{
    color: rgb(201, 103, 103);
}